{% extends 'index.html' %}

{% block HeadText %}Будни студента{% endblock %}
{% block HeadDownText %} Проект "Будни студента" создан на основе игрового движка Unreal Engine 5 с целью помочь студентам МПЭТ погрузиться в 3D пространство плана здания.{% endblock %}
{% block Button1 %}Играть{% endblock %}
{% block Button2 %}О проекте{% endblock %}
{% block Button3 %}МПЭТ {% endblock %}
{% block Button4 %}FAQ {% endblock %}
{% block Button5 %}Галерея {% endblock %}
{% block Button6 %}Контакты {% endblock %}
{% block Button7 %}Разработчики {% endblock %}

