{% extends 'Answer.html' %}

{% block question_one %}На каком движке выполнен данный проект? {% endblock %}
{% block answer_one %}Unreal Engine 5 — это новейшая версия игрового движка от Epic Games. В неё добавили новые функции, позволяющие создавать более реалистичную графику.{% endblock %}

{% block question_two %}Для каких платформ подходит данная игра? {% endblock %}
{% block answer_two %}Игру "Будни студента" можно запустить на платформе Windows и Linux.{% endblock %}

{% block question_three %}Что за локация в игре? {% endblock %}
{% block answer_three %}Локация игры - Мирнинский Промышленно-Экономический техникум. {% endblock %}

{% block question_four %}Можно ли скачать игру с площадки Epic Games или Steam? {% endblock %}
{% block answer_four %}Нет. Исходник игры можно установить только с Яндекс.Диск{% endblock %}

{% block question_five %}Какие минимальные системные требования для данной игры? {% endblock %}
{% block answer_five %}
Процессор: Intel Core I3-6100/Core I5-2500K или AMD Ryzen 3 1200.
Видеокарта: NVIDIA GeForce GTX 960 или AMD Radeon RX 470.
Видеопамять: 2 Гб.
Графический драйвер: 516.59 для NVIDIA или 22.9.1 для AMD.
DirectX 12.
Оперативная память: 4 Гб.
{% endblock %}



