{% extends 'base.html' %}

{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='css/MPET.css') }}">{% endblock %}
{% block content %}
<!--<div class="block">
    <img src="{{ url_for('static', filename='img/МПЭТ.jpg') }}" alt="Изображение">
</div>-->

<div class="container-fluid p-0">
    <div id="full-page-image"></div>
    <div class="overlay">
      <div class="content">

        <h1 class="gradient-outline-text">Мирнинский Промышленно-Экономический техникум</h1>
          <p class="gradient-outline-text">Полное наименовании: государственное бюджетное профессиональное образовательное учреждение Архангельской облаcти "Мирнинский промышленно-экономический техникум".</p>
        <button class="glow-on-hover" onclick="MPET()">Подробнее</button>
        <button class="glow-on-hover" onclick="Home()">Главная</button>
      </div>
    </div>
  </div>
<script>
    function Home() {
  window.location.href = "/";
}
function MPET() {
  window.location.href = "https://mgpet.ru/";
}
</script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock %}